/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

#main-con-holr {
  background-size: cover;
  background-image: url("../img/weather-app-bg.jpg");
  background-position: center;
}


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.spinner svg{
   width: 250px;
  height: 250px;
  margin-top: 120px;
  stroke: white;
  fill: white;
}

#DirectOutput{
  top: 40px;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  margin-left: -240px;
  left: 50%;
  position: relative;
  margin-top: 85px;
  background-image: url("../img/blurGb.png");
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.35);
  padding-top: 32px;
  font-weight: 200;
      #noMargHeader{
          font-weight: 200;
          margin-top: -20px;
      }

      #tempOut{
        font-size: 13rem;
        font-weight: 100;
        margin-top: -20px;
        margin-left: 20px;
      }
}

div.col.card{
  background-color: transparent;
  //  background-image: url("../img/blurGb.png");
  // background-size: cover;
  // background-position: center;
}


#mainSkycon{
  margin-top: 50px;
}

#mainView p, #mainView h1, #mainView h3{
  color: white;
}

#mainCityOutput{
  font-weight: 200;
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

#three-day-forcast-holder{

}

@media screen and (max-width: 760px){
  .pDesc{
    display: none;
  }


}


@media screen and (max-width: 400px){

    #mainCityOutput{
      font-size: 1.5rem;
    }

    #DirectOutput{
      background-image: none;
      border: none;
      box-shadow: 0px 0px 0px white;
      top: 10px;
        #tempOut{
        font-size: 7rem;
        font-weight: 100;
        margin-top: -30px;
        margin-left: 20px;
      }
    }

    .feelDesc, .sumDesc{
      display: none;
    }


}

@media screen and (max-width: 321px){

    #mainCityOutput{
      font-size: 1.2rem;
    }

    .feelDesc, .sumDesc, #noMargHeader{
      display: none;
    }


}
